day-01/puzzle-input.txt
day-01/test-input.txt
day-02/puzzle-input.txt
day-02/test-input.txt
day-03/puzzle-input.txt
day-03/test-input.txt
day-04/puzzle-input.txt
day-04/test-input.txt
day-05/puzzle-input.txt
day-05/test-input.txt
day-06/puzzle-input.txt
day-06/test-input.txt
day-07/puzzle-input.txt
day-07/test-input.txt
day-08/puzzle-input.txt
day-08/test-input.txt
day-09/puzzle-input.txt
day-09/test-input.txt
day-10/puzzle-input.txt
day-10/test-input.txt
